<h1><%= Time.now.year %> Budget</h1>

<table class="table table-bordered table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <% @months.each do |month| %>
        <th style="text-align:center"><%= month.strftime('%b') %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <tr><td colspan="13" style="background-color:black; color:white; border-color:black">Income</td></tr>

    <% Category.all.each do |category| %>
      <% if category.transactions.last_12_months.income.any? %>
      <tr>
        <td><%= category.name %></td>
        <% @months.each do |month| %>
          <td id="<%= month.strftime('%b') + ' ' + category.name %>" style="text-align:right"><%= number_to_currency category.transactions.for_month_of(month).sum(:amount) %></td>
        <% end %>
      </tr>
    <% end %>
    <% end %>

    <tr>
      <td>Total</td>
      <% @months.each do |month| %>
        <td style="text-align:right"><%= number_to_currency Transaction.income.for_month_of(month).sum(:amount) %></td>
      <% end %>
    </tr>

    <tr><td colspan="13"></td></tr>
    <tr><td colspan="13" style="background-color:black; color:white; border-color:black">Expense</td></tr>

    <% Category.all.each do |category| %>
    <% if category.transactions.last_12_months.expense.any? %>
      <tr>
        <td><%= category.name %></td>
        <% @months.each do |month| %>
          <td id="<%= month.strftime('%b') + ' ' + category.name %>" style="text-align:right"><%= number_to_currency category.transactions.for_month_of(month).sum(:amount) %></td>
        <% end %>
      </tr>
    <% end %>
    <% end %>

    <tr>
      <td>Total</td>
      <% @months.each do |month| %>
        <td style="text-align:right"><%= number_to_currency Transaction.for_month_of(month).sum(:amount) %></td>
      <% end %>
    </tr>

  </tbody>
</table>
