<h1><%= Time.now.year %> Budget</h1>

<table class="table table-bordered table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <% @months.each do |month| %>
        <th style="text-align:center"><%= month.strftime('%b') %></th>
      <% end %>
    </tr>
    <tr style="background-color:black; color:white;"><td colspan="13" style="border-color:black">Income</td></tr>
    <tr><td></td></tr>
    <tr style="background-color:black; color:white;"><td colspan="13" style="border-color:black">Expense</td></tr>
  </thead>

  <tbody>
    <% Category.all.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <% @months.each do |month| %>
          <td id="<%= month.strftime('%b') + ' ' + category.name %>"><%= number_to_currency category.transactions.for_month_of(month).sum(:amount) %></td>
        <% end %>
      </tr>
    <% end %>  
    <tr>
      <td>Total</td>
      <% @months.each do |month| %>
        <td><%= number_to_currency Transaction.for_month_of(month).sum(:amount) %></td>
      <% end %>
    </tr>
  </tbody>
</table>
