<h2>Income statement - Last 12 months</h2>

<table class="table table-bordered table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <% @transactions.keys.each do |month| %>
        <th style="text-align:center"><%= month %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <tr><td colspan="13" style="background-color:black; color:white; border-color:black">Income</td></tr>

    <% ["Salary", "Interest"].each do |category| %>
      <tr>
        <td><%= category %></td>
        <% @transactions.keys.each do |month| %>
          <td id="<%= [month, category].join(' ').parameterize %>" style="text-align:right"><%= number_to_currency @transactions[month][category] %></td>
        <% end %>
      </tr>
    <% end %>

    <tr>
      <td>Total</td>
      <% @transactions.keys.each do |month| %>
        <% total = 0 %>
        <% ["Salary", "Interest"].each do |category| %>
          <% total += @transactions[month][category] %>
        <% end %>
        <td style="text-align:right"><%= number_to_currency total %></td>
      <% end %>
    </tr>

    <tr><td colspan="13"></td></tr>
    <tr><td colspan="13" style="background-color:black; color:white; border-color:black">Expense</td></tr>

    <% (@categories - ["Salary", "Interest", "Transfer"]).each do |category| %>
      <tr>
        <td><%= category %></td>
        <% @transactions.keys.each do |month| %>
          <td id="<%= [month, category].join(' ').parameterize %>" style="text-align:right"><%= number_to_currency @transactions[month][category] %></td>
        <% end %>
      </tr>
    <% end %>

    <tr>
      <td>Total</td>
      <% @transactions.keys.each do |month| %>
        <% total = 0 %>
        <% (@categories - ["Salary", "Interest", "Transfer"]).each do |category| %>
          <% total += @transactions[month][category] if @transactions[month][category] %>
        <% end %>
        <td style="text-align:right"><%= number_to_currency total %></td>
      <% end %>
    </tr>

    <tr><td colspan="13"></td></tr>
    <tr>
      <td>Net income/loss</td>
      <% @transactions.keys.each do |month| %>
        <% total = 0 %>
        <% @categories.each do |category| %>
          <% total += @transactions[month][category] if @transactions[month][category] %>
        <% end %>
        <td style="text-align:right"><%= number_to_currency total %></td>
      <% end %>
    </tr>
  </tbody>
</table>
