<div class="row-fluid">
  <div class="span9">
    <h2>Transactions</h2>
  </div>
  <div class="span3">
    <h4>Total savings: <%= number_to_currency Transaction.sum(:amount) %></h4>
  </div>
</div>

<table class="table table-bordered table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Details</th>
      <th>Amount</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr data-link="<%= transaction_path(transaction) %>">
        <td><%= transaction.date %></td>
        <td><%= if transaction.trans_type =~ /^[Vv]isa\b/
                  transaction.code
                elsif transaction.trans_type == 'Credit Interest Paid' || transaction.trans_type == 'Withholding Tax'
                  transaction.trans_type
                else
                  transaction.details
                end %></td>
        <td><%= number_to_currency(transaction.amount) %></td>
        <td><%= transaction.category_name if transaction.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @transactions %>

<%= link_to 'New Transaction', new_transaction_path %>
<br>

    <div id="container" ></div>
<script type="text/javascript">


    $("tr[data-link]").click(function() {
        window.location = this.dataset.link
    })

    $(function () {
        $('#container').highcharts({
            chart: {
                zoomType: 'x',
            },
            title: {
                text: 'Monthly balance: 2011 - Present'
            },
            xAxis: {
                type: 'datetime',
                maxZoom: 28 * 24 * 3600000, // fourteen days
            },
            yAxis: {
                title: {
                    text: null
                }
            },
            tooltip: {
                shared: true,
                valuePrefix: '$'
            },
            legend: {
                enabled: false
            },
            series: [{
                name: 'Balance',
                data: [
                  <% @data.each do |date, value| %>
                  <%= "[Date.UTC(#{(date - 1.month).to_s.gsub(/\-/,',')}), #{value}]," %>
                  <% end %>
                ]
            }]
        });
    });
</script>

<h3>Import transactions</h3>

<%= form_tag import_transactions_path, multipart: true do %>
  <%= file_field_tag "file" %>
  <%= submit_tag "Import", class: "btn btn-primary" %>
<% end %>
