<h2>Listing transactions</h2>

<%= paginate @transactions %>
<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Details</th>
      <th>Particulars</th>
      <th>Code</th>
      <th>Reference</th>
      <th>Amount</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.trans_type %></td>
        <td><%= transaction.details %></td>
        <td><%= transaction.particulars %></td>
        <td><%= transaction.code %></td>
        <td><%= transaction.reference %></td>
        <td><%= number_to_currency(transaction.amount, :unit => "$") %></td>
        <td><%= transaction.date %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <%= link_to 'New Transaction', new_transaction_path %>
<br>

    <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<script type="text/javascript">
    $(function () {
        $('#container').highcharts({
            chart: {
                zoomType: 'x',
                spacingRight: 20
            },
            title: {
                text: 'Daily balance: 2011 - Present'
            },
            xAxis: {
                type: 'datetime',
                maxZoom: 14 * 24 * 3600000, // fourteen days
                title: {
                    text: null
                }
            },
            yAxis: {
                title: {
                    text: null
                }
            },
            tooltip: {
                shared: true,
                valuePrefix: '$'
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    lineWidth: 1,
                    marker: {
                        enabled: false
                    },
                    shadow: false,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
            series: [{
                type: 'area',
                name: 'Balance',
                data: [
                  <% @data.each do |date, value| %>
                  <%= "[Date.UTC(#{(date - 1.month).to_s.gsub(/\-/,',')}), #{value}]," if date %>
                  <% end %>
                ]
            }]
        });
    });
</script>

<h3>Import transactions</h3>

<%= form_tag import_transactions_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
